<ion-header>
  <ion-toolbar>
    <ion-title>
      Buscar Película
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar placeholder="Buscar película" animated (ionChange)="buscar( $event )" debounce="700" [value]="textoBuscar"></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <ion-label>Ideas</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let idea of ideas" (click)="textoBuscar = idea">
      <ion-label color="primary">{{ idea }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
