<app-header title="card page"></app-header>

<ion-content padding>
    <ion-card mode="ios" color="primary">
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon color="light" slot="start" name="pin"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, corrupti iusto. Fugit delectus nemo, accusamus dolorem minus repellendus suscipit necessitatibus iste labore nisi, rerum perspiciatis at laudantium exercitationem in quos.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ipsam facilis a architecto pariatur. Libero aspernatur delectus deleniti doloribus dolor quasi blanditiis, porro nostrum neque exercitationem iure, beatae alias dolores?
        </ion-card-content>
    </ion-card>
</ion-content>