<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>
            Favotitos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-slides *ngIf="dataLocalStorage.noticias.length === 0" [options]="sliderOpts">
        <ion-slide>
            <ion-label>No hay favoritos</ion-label>
        </ion-slide>
    </ion-slides>

    <app-noticias *ngIf="dataLocalStorage.noticias.length > 0" [noticias]="dataLocalStorage.noticias"></app-noticias>
</ion-content>